{{! Everything inside the #author tags pulls data from the author }}
{{#author}}

    <section class="author-profile">

        <div class="author-content">
            {{#if image}}
                <figure class="author-image">
                    <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
                </figure>
            {{/if}}

            <h4><a href="{{url}}">{{name}}</a></h4>

            {{#if bio}}
                <p>{{bio}}</p>
            {{else}}
                <p>Read <a href="{{url}}">more posts</a> by this author.</p>
            {{/if}}
            <div class="author-meta">
                {{#if location}}<span class="author-location"><span class="icon-location"></span> Currently loving life in {{location}}</span>{{/if}}
                {{#if website}}<span class="author-link"><span class="icon-link"></span> <a href="{{website}}">{{website}}</a></span>{{/if}}
            </div>
        </div>

    </section>

{{/author}}