<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=0, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <div class="site-wrapper">

        <div class="main-nav">
            {{navigation}}
        </div>

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="site-footer clearfix">

            <section class="social">
                <a class="icon-twitter" href="https://twitter.com/trishadvisor" target="_blank">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-instagram" href="https://instagram.com/triciafallows" target="_blank">
                    <span class="hidden">Instagram</span>
                </a>
                <a class="icon-facebook" href="https://facebook.com/trishadvisor" target="_blank">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-feed" href="{{@blog.url}}/rss/" target="_blank">
                    <span class="hidden">Subscribe</span>
                </a>
            </section>

            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
        </footer>

    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.scrolled.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
